<?php
$CONFIG = array (
  'instanceid' => 'octcfzg19n2o',
  'passwordsalt' => '7wD+3XgNFK/7XEMeSNuwyvm5bfgI8L',
  'secret' => 's24LYiETIQZXO9IHLUsY5y/INLphsmiiT/PI5bvmRhJ5dDg+',
  'trusted_domains' =>
  array (
    0 => '212.119.9.87',
  ),
  'datadirectory' => '/srv/web/owncloud/data',
  'overwrite.cli.url' => 'http://212.119.9.87/owncloud',
  'dbtype' => 'mysql',
  'version' => '9.0.0.19',
  'dbname' => '{{ dbname }}',
  'dbhost' => '10.20.0.88',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ dbuser }}',
  'dbpassword' => '{{ upassword }}',
  'logtimezone' => 'UTC',
  'installed' => true,
);
